@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
:root {
  --color-gray: #f0efed;
  --color-blue: #1c07fa;
}
body {
  font-family: "Poppins";
  background-color: var(--color-gray);
  padding: 10rem;
}

/* Todo Component */
.todo {
  background-color: white;
}
.todo .todo-inner {
  padding: 2rem;
}
.btn-primary {
  background: var(--color-blue);
  color: white;
  border: none;
  padding: 0.9rem;
  margin-left: 0.7rem;
  font-family: "Poppins";
  cursor: pointer;
}
.todo #add-todo {
  padding: 0.9rem;
  outline: none;
  border: 2px solid var(--color-gray);
  width: 100vw;
  font-family: "Poppins";
}
.todo .add-todo form {
  display: flex;
  justify-content: space-between;
}
/* Todolist Component */
.todo-list {
  margin-top: 1rem;
}
.todo-list .cross {
  color: var(--color-blue);
  font-weight: 800;
  cursor: pointer;
}
.checkbox-button {
  cursor: pointer;
}
.todo-list .example {
  display: flex;
  flex-direction: revert;
  justify-content: space-between;
  margin-top: 0.5rem;
}
input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}

input {
  font-size: 1rem;
  line-height: 1.5;
  padding: 11px 23px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0;
  outline: 0;
  background-color: transparent;
}

.checkbox-button__input {
  opacity: 0;
  position: absolute;
}

.checkbox-button__control {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 12px;
  vertical-align: middle;
  background-color: inherit;
  color: var(--color-blue);
  border: 2px solid #666;
}

.checkbox-button__input:checked + .checkbox-button__control:after {
  content: "";
  display: block;
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  background-color: var(--color-blue);
}

.checkbox-button__input:checked + .checkbox-button__control {
  border-color: var(--color-blue);
}

.checkbox-button__control {
  transform: scale(0.75);
}

/* Media queries */
@media (max-width: 676px) {
  body {
    padding: 4rem;
  }
}
@media (max-width: 467px) {
  body {
    padding: 2rem;
  }
}
@media (max-width: 467px) {
  body {
    padding: 2rem;
  }
  .todo .todo-inner {
    padding: 0.5rem;
  }
}
@media (max-width: 400px) {
  body {
    padding: 0rem;
  }
  .todo #add-todo {
    width: 55vw;
  }
}
@media (max-width: 320px) {
  body {
    padding: 0rem;
  }
  .todo .todo-inner {
    padding: 1rem;
  }
}
